extends layout

block content
	.container#app
		.row
			.col-xs-11
				h1 Hello, #{user.firstName}
				p Here are your call logs.
			.col-xs-1
				button.btn.btn-default(@click="fetchRecords()") Refresh
		.row
			.card.card-block
				.row
					.col-lg-3.form-group
						label(for="startDate") From Date
						input.form-control(type="date" v-model="startDate" id="startDate" @change="filterRecords()")
					.col-lg-3.form-group
						label(for="endDate") To Date
						input.form-control(type="date" v-model="endDate" id="endDate" @change="filterRecords()")
					.col-lg-2.form-group
						label(for="from") From Number
						input.form-control(type="text" v-model="from" id="from" @change="filterRecords()")
					.col-lg-2.form-group
						label(for="to") To Number
						input.form-control(type="text" v-model="to" id="to" @change="filterRecords()")
					.col-lg-2.form-group
						label(for="direction") Call Direction
						select.form-control(id="direction" v-model="direction" @change="fetchRecords()")
							option(value="") both
							option(value="inbound") inbound
							option(value="outbound") outbound
				.row
					.col-xs-1
						button.btn.btn-primary(@click="fetchRecords()") Filter
		.row
			.col-xs-12
				.table-responsive
					table.table.table-striped
						thead
							tr
								th(v-for="column in columns") {{column | uppercase}}
						tbody
							tr(v-for="cdr in cdrs.data")
								td {{cdr.date | date}}
								td {{cdr.date | time}}
								td {{cdr.direction}}
								td {{cdr.from | phone}}
								td {{cdr.to | phone}}
								td {{cdr.duration}}
								td {{cdr.status}}
								td
									audio(controls="controls")
										source(:src="'//s3.amazonaws.com/mytickets-recordings/recordings/' + cdr.uuid + '.wav'")
		.row.text-xs-center
			.col-xs-12
				.btn-group
					button.btn.btn-secondary(type="button" @click="decrementRecords()" v-bind="class={disabled: prevDisabled}") Previous
					button.btn.btn-secondary(type="button" @click="incrementRecords()" v-bind="class={disabled: nextDisabled}") Next
	script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js")
	script(src="assets/js/app.min.js")
