extends layout

block content
	.container
		h1 Add New User
		p.lead Register a new user here.
		br
		form(action="/register" method="post")
			.form-group.row
				label.col-xs-2.col-form-label(for="firstName") First Name
				.col-xs-10
					input.form-control(type='text', name="firstName" id="firstName")
			.form-group.row
				label.col-xs-2.col-form-label(for="lastName") Last Name
				.col-xs-10
					input.form-control(type='text', name="lastName", id="lastName")
			.form-group.row
				label.col-xs-2.col-form-label(for="username") Username
				.col-xs-10
					input.form-control(type='text', name="username", id="username")
			.form-group.row
				label.col-xs-2.col-form-label(for="password") Password
				.col-xs-10
					input.form-control(type='password', name="password", id="password")
			.form-group.row
				label.col-xs-2.col-form-label(for="email") Email Address
				.col-xs-10
					input.form-control(type='text', name="email", id="email")
			.form-group.row
				label.col-xs-2.col-form-label(for="role") Role
				.col-xs-5
					select.form-control(id="role" name="role")
						option(value="user") User
						option(value="admin") Administrator
			.form-group.row
				button.btn.btn-default(type='submit') Submit
					a(href='/')